* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.Squad_player{
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 25px;
}
.avatar {
    background: #E5E5E5;
    width: 56px;
    height: 56px;
    margin-right: 10px;
    border: 2px solid #C7C7C7;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 15px;
}

.avatar img {
    width: 100%;
    height: 100%;
}
.nationality {
    color: #A4ABB6;
    display: block;
    font-size: 14px;
}
.flag{
    width: 16px;
    margin-right: 7px;
}
.logo-club {
    width: 20px;
    height: 20px;
    margin-right: 4px;
}
.player{
    background-color: #fafafa;
    border-bottom: 1px solid #c7c7c7;
    padding: 16px;
}
.content {
    padding: 16px 12px;
    line-height: 1.167;
    font-size: 13px;
}
.width_common{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.view-detail a{
    color: #636B79;
    background: #FAFAFA;
    border: 1px solid #AEB4C4;
    border-radius: 6px;
    line-height: 29px;
    padding: 9px 12px;
}
.view-detail{
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 0rem;
}
.sap_xep{
    width: 200px;
}