footer{
<<<<<<< HEAD
    background-color: #313131;
    color: white;
    padding: 30px;
}
.footer_title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.blog{
    margin-top: 20px;
}
.address{
    display: flex;
}
.icon_address{
    color: #e01a22;
    margin-right: 10px ;
}
.email{
    display: flex;
}
.icon_email{
    color: #e01a22;
    margin-right: 10px ;
}
.phone{
    display: flex;
}
.icon_phone{
    color: #e01a22;
    margin-right: 10px ;
}
.list_link>a{
    color: #ffffff;
}
.line{
    border: 1px solid #949393;
    margin-bottom: 11px;
    margin-top: 11px;
}
.footer_icon_item{
    margin-right: 30px ;
    margin-left: 15px;
}
.copyright{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
=======
    background-color: rgb(214, 201, 201);
    padding-top: 50px;
    padding-bottom: 50px;
}
.left2{
    margin-top: 30px;
    display: flex;
}
.left2>.icon-address{
    margin-right: 15px;
}
.left3{
    margin-top: 20px;
}
.left4{
    margin-top: 20px;
}
.icon{
    font-size: 25px;
    margin-right: 25px;
    margin-bottom: 50px;
    color: black;
}
.icon_phone{
    margin-right: 15px;
    margin-left: 15px;
}
.icon_oclock{
    margin-right: 15px;
    margin-left: 15px;
}
.email{
    position: relative;
}
.email>input{
    padding: 25px;
}
.submit{
    position: absolute;
    top: 10px;
    right: 35px;
}
.gach_duoi{
    border: 1px solid gray ;
    margin-top: 20px;
}
.ban_quyen{
    margin-top: 20px;
>>>>>>> 498e8ca (footer)
}