.homecomponent{
    background-color: #fff;
}
.bcd{
    /* background-color: rgba(29, 29, 29, 0.96); */
}
.score{
    background-color: #ff6600;
    border: 1px solid #ff6600;
    border-radius: 5px;
}
.content{
    border-bottom: 1px solid #ff6600;
}
.boder-colum{
    border: 1px solid #ccc;
    margin-bottom: 10px;
    background-image: url(../../../../public/images/background.jpg);
    background-size: 100%;
}
.text-comment:hover{
    background-color: #ff6600;
}
.banner-img{
    width: 100%;
}
