.name_club{ 
    margin-top: 30px;
    text-align: center;
    top: 50px;
    left: 30px;
    font-size: 35px;
    font-weight: bold;
}
.list_honours{
    font-size: 22px;
    font-weight: 600;
}
.tieu_de{
    margin-top: 70px;
    margin-bottom: 30px;
}
.cau_thu{
    margin-top: 30px;
    border: 1px solid rgb(157, 156, 156);
    margin-bottom: 50px;
    position: relative;
    border-radius: 15px;
    overflow: hidden;

}
.cau_thu :hover >.img_player{
    transform: scale(1.2);
    transition: 1s;
}
.cau_thu>a{
    text-decoration: none;
    color: #ffffff;
}
.img_player{
    transition: 1s;
}
.img_player>img{
    width: 100%;
}
.desc_player{
    position: absolute;
    font-size: 35px;
    bottom:20px ;
    left: 20px;
    line-height: 20px;
    font-weight: 700;
}
.line{
    border: 2px solid red;
    width: 40px;
    margin-bottom: 10px;
}
